html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  border: 2px solid black;
  padding: 1.8rem 4.5rem;
  letter-spacing: 3px;
  display: inline-block;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/bg.jpg") center / cover;
}

.hero {
  max-width: 110rem;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  color: white;
  text-align: center;
  position: relative;
  &-title {
    width: 90%;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-size: 8rem;
    font-weight: 800;
    text-transform: uppercase;
  }
  &-text {
    font-family: "Merriweather", serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
  }
}

.circle {
  align-self: center;
  &-container {
    height: 9rem;
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2rem;
  }
}

.navbar {
  width: 100%;
  max-width: 60%;
  background: rgba(255, 255, 255, 0.199);
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
  }

  .navbar-list i {
    padding: 0 25px;
    color: white;
  }

  &-link {
    display: block;
    padding: 25px 15px;
    color: white;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.8rem;
    transition: 0.3s ease-in;
    &:hover {
      background: white;
      color: black;
    }
  }
}

// headline

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  &-date {
    font-size: 2rem;
    font-weight: 300;
    position: relative;
    margin-bottom: 80px;
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      background: rgba(128, 128, 128, 0.418);
      top: 50%;
      left: 160%;
      width: 200%;
    }
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      background: rgba(128, 128, 128, 0.418);
      top: 50%;
      right: 160%;
      width: 200%;
    }
  }
  &-title {
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
  }
  &-text {
    text-align: center;
    width: 35%;
    line-height: 5rem;
    font-style: italic;
    margin-bottom: 60px;
  }
  &-image {
    width: 70%;
    margin: 0 auto 80px;
    img {
      width: 100%;
    }
  }
}
// news

.news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border: 1px solid gray;
  &-left {
    border-right: 1px solid gray;
  }
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding: 80px 0px;

  &-text {
    width: 80%;
    text-align: center;
    line-height: 32px;
  }
}

// contact

.contact {
  padding: 80px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  &-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    row-gap: 32px;
  }
  label {
    font-family: "Inter";
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.8rem;
    color: rgb(128, 128, 128);
  }
  input {
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.432);
  }
  textarea {
    width: 100%;
    height: 20rem;
    border: 1px solid rgba(128, 128, 128, 0.432);
    resize: none;
  }
  &-other {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  h2 {
    margin-right: 60px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(128, 128, 128, 0.418);
    font-family: "Inter";
    font-size: 1.6rem;
  }

  &-address {
    display: flex;
    line-height: 3rem;
  }
  &-phone {
    display: flex;
    line-height: 3rem;
  }
  &-email {
    display: flex;
    line-height: 3rem;
  }
}
