:root {
  --font-family: "Merriweather";
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  border: 2px solid black;
  padding: 1.8rem 4.5rem;
  letter-spacing: 3px;
  display: inline-block;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/bg.jpg") center/cover;
}

.hero {
  max-width: 110rem;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  color: white;
  text-align: center;
  position: relative;
}
.hero-title {
  width: 90%;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-size: 8rem;
  font-weight: 800;
  text-transform: uppercase;
}
.hero-text {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
}

.circle {
  align-self: center;
}
.circle-container {
  height: 9rem;
  width: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2rem;
}

.navbar {
  width: 100%;
  max-width: 60%;
  background: rgba(255, 255, 255, 0.199);
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
}
.navbar .navbar-list i {
  padding: 0 25px;
  color: white;
}
.navbar-link {
  display: block;
  padding: 25px 15px;
  color: white;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.8rem;
  transition: 0.3s ease-in;
}
.navbar-link:hover {
  background: white;
  color: black;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}
.headline-date {
  font-size: 2rem;
  font-weight: 300;
  position: relative;
  margin-bottom: 80px;
}
.headline-date::before {
  content: "";
  position: absolute;
  height: 2px;
  background: rgba(128, 128, 128, 0.418);
  top: 50%;
  left: 160%;
  width: 200%;
}
.headline-date::after {
  content: "";
  position: absolute;
  height: 2px;
  background: rgba(128, 128, 128, 0.418);
  top: 50%;
  right: 160%;
  width: 200%;
}
.headline-title {
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}
.headline-text {
  text-align: center;
  width: 35%;
  line-height: 5rem;
  font-style: italic;
  margin-bottom: 60px;
}
.headline-image {
  width: 70%;
  margin: 0 auto 80px;
}
.headline-image img {
  width: 100%;
}

.news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border: 1px solid gray;
}
.news-left {
  border-right: 1px solid gray;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding: 80px 0px;
}
.article-text {
  width: 80%;
  text-align: center;
  line-height: 32px;
}

.contact {
  padding: 80px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  row-gap: 32px;
}
.contact label {
  font-family: "Inter";
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.8rem;
  color: rgb(128, 128, 128);
}
.contact input {
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.432);
}
.contact textarea {
  width: 100%;
  height: 20rem;
  border: 1px solid rgba(128, 128, 128, 0.432);
  resize: none;
}
.contact-other {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.contact h2 {
  margin-right: 60px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(128, 128, 128, 0.418);
  font-family: "Inter";
  font-size: 1.6rem;
}
.contact-address {
  display: flex;
  line-height: 3rem;
}
.contact-phone {
  display: flex;
  line-height: 3rem;
}
.contact-email {
  display: flex;
  line-height: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
